PORT=8000
SECRET_KEY=*****************
APP_NAME=caution-companion-
ENVIRONMENT=production
AUTH_SESSION_TTL=30
CLOUDINARY_URL=cloudinary://my_key:my_secret@my_cloud_name
SMTPEXPRESS_PROJECT_SECRET=*****************
APP_SENDER_EMAIL=*****************
REDIS_URL=*****************
DATABASE_URL=*****************
